<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
</head>
<body>
    <h1>User Details</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
              
            </tr>
        </thead>
        <tbody>
            <tr th:object="${user}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                
            </tr>
        </tbody>
    </table>
</body>
</html>
